<!DOCTYPE html>
<html>

<head>
<title>Add New Library</title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<h2>Add New Library</h2>
<p></p>

<form action="/libraries" method= "post" >
	Branch Name: 	<input type="text" name = "branch_name"></br>
	Phone Number: <input type="text" name = "phone_number"></br>
	Address: 			<input type="text" name = "address"> </br>
	<input type="submit" value="Submit New Library">
</form>



</body>
</html>
