<!DOCTYPE html>
<html>

<head>
<title>Books</title>

</head>
<body>
<h2>Books</h2>



<p><a href="/libraries">Libraries</a></p>
<p><a href="/staff_members">Staff Members</a></p>
<p><a href="/patrons">Patrons</a></p>
<p></p>
<p><a href="/">Back to Main Menu</a></p>

</body>
</html>
