<!DOCTYPE html>
<html>

<head>
<title>Books</title>

</head>
<body>
<h2>Books</h2>

<p><a href="/libraries"> Libraries  /   </a> <a href="/staff_members"> Staff Members  /   </a>
 <a href="/patrons">Patrons  /   </a> <a href="/">Back to Main Menu</a></p>

</body>
</html>
