<!DOCTYPE html>
<html>

<head>
<title>Libraries</title>

</head>
<body>
<h2>Libraries</h2>

<p><a href="/books">Books  /   </a> <a href="/staff_members"> Staff Members  /   </a>
 <a href="/patrons">Patrons  /   </a> <a href="/">Back to Main Menu</a></p>
<p></p>
<p></p>
<p><a href="/libraries/list_of_libraries">List of Libraries</a></p>
<p><a href="/libraries/list_of_staff_members">List of Staff Members</a></p>
<p><a href="/books/list_of_books">List of Books</a></p>
<p><a href="/libraries/reassign_staff_member">Reassign Staff Member</a></p>
<p><a href="/libraries/reassign_book">Reassign Book</a></p>
<p><a href="/libraries/add_new_library">Add New Library</a></p>
<p><a href="/libraries/edit_library">Edit a Library</a></p>

</body>
</html>
