<!DOCTYPE html>
<html>

<head>
<title>Main Menu</title>

</head>
<body>
<h2>Main Menu</h2>


<p><a href="/libraries">Library Menu</a></p>
<p><a href="/books">Book Menu</a></p>
<p><a href="/staff_members">Staff Member Menu</a></p>
<p><a href="/patrons">Patron Menu</a></p>

</body>
</html>
