<!DOCTYPE html>
<html>

<head>
<title>Patrons</title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<h2>Patrons</h2>
<p></p>
<p><a href="/patrons/list_of_patrons">List of Patrons</a></p>
<p><a href="/books/check_out_books">Check Out Books</a></p>


</body>
</html>
