<!DOCTYPE html>
<html>

<head>
<title>Reassign Book to a Specific Library</title>

</head>
<body>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<h2>Reassign Book to a Specific Library</h2>
<p></p>
# list or link

</body>
</html>
