<!DOCTYPE html>
<html>

<head>
<title>Staff Members</title>

</head>
<body>
<h2>Staff Members</h2>

<p><a href="/libraries">Libraries  /   </a>
<a href="/books">Books  /   </a>
<a href="/staff_members"> Staff Members  /   </a>
<a href="/patrons">Patrons  /   </a>
<a href="/">Back to Main Menu</a></p>
<p></p>
<p></p>
<p><a href="/libraries/list_of_staff_members">List of Staff Members</a></p>
<p><a href="/libraries/reassign_staff_member">Reassign Staff Member</a></p>
<p><a href="/staff_members/add_new_staff_member">Add New Staff Member</a></p>
<p><a href="/staff_members/edit_staff_member">Edit a Staff Member</a></p>

</body>
</html>
